extends layout

block content
  .jumbotron


  .row 
   .col-md-12
      h2  Recommendations for you
    .well-none
      .carousel.slide(id="myCarousel")
        
        .carousel-inner
          .item.active 
           .row
             -var length=recordset.length;
             - for(var i=0;i<3;i++)
               .col-md-4
                 h4 #{recordset[i]}
                 a(href='/about')
                  img(src='../images/cycles.jpg')
          .item
            .row
             -var length=recordset.length;
             -for(var i=2;i<4;i++)
              .col-md-4
               h4 #{recordset[i]}
               a(href='/about')
               img(src='../images/cycles.jpg')

        a(class='left carousel-control' href='#myCarousel' data-slide='prev')
        a(class='right carousel-control' href='#myCarousel' data-slide='next')
        
 